<div class="m-3 p-3">
<h2>My transactions</h2>
<hr>
<div class="d-flex justify-content-end mb-3">
    <button type="button" routerLink="/user/new-transaction" class="btn btn-primary">
      <em class="fa fa-plus">&nbsp;</em>  New Transaction
    </button>
</div>
<mat-form-field>
  <mat-label>Search</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="..." #input>
</mat-form-field>
<div class="container">

  <mat-table [dataSource]="dataPaginacion" matSort>

    <ng-container matColumnDef="transactionDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Date</mat-header-cell
      >
      <mat-cell *matCellDef="let transaction">{{ transaction.transactionDate  }}</mat-cell>
    </ng-container>

   
    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Amount</mat-header-cell
      >
      <mat-cell *matCellDef="let transaction">{{ transaction.amount }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="destinationBank">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Number Account</mat-header-cell
      >
      <mat-cell *matCellDef="let transaction">{{ transaction.destinationBank }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Type</mat-header-cell
      >
      <mat-cell *matCellDef="let transaction">{{ transaction.type }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      *matRowDef="let comment; columns: displayedColumns"
    ></mat-row>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell badge bg-secondary" colspan="4">There is no data that matches the search   "{{ input.value }}"</td>
    </tr>
  </mat-table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    [length]="totalTransactions"
    [pageSize]="pageSize"
    [pageIndex]="page"
    (page)="pageEvents($event)"
    showFirstLastButtons
  >
  </mat-paginator>
</div>


</div>


   