<div class="p-3">
  <h2>new Contact</h2>
  <div class="d-flex flex-row justify-content-between">
    <div class="card p-3 col-6">
      <h3>Personal Info</h3>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>FirstName</mat-label>
          <input type="text" matInput placeholder="FirtName" />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>LastName</mat-label>
          <input matInput placeholder="LastName" />
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input type="email" matInput placeholder="mail@gmail.com" />
        </mat-form-field>
      </p>
    </div>

    <div class="card p-3 col-6">
      <h3>Address</h3>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Street</mat-label>
          <input type="text" matInput placeholder="Street" />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Direction</mat-label>
          <input matInput placeholder="house number" />
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Code Postal</mat-label>
          <input type="email" matInput placeholder="Postal" />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>City</mat-label>
          <input type="email" matInput placeholder="City" />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Country</mat-label>
          <input type="email" matInput placeholder="Country" />
        </mat-form-field>
      </p>
      
    </div>

  </div>
  <div class="d-flex justify-content-center mt-3">
    <button mat-raised-button style="margin-right: 20px" color="accent">Cancel</button>
    <button mat-raised-button color="primary">Save</button>
  </div>
</div>
