<div class="p-3 m-3 fade-in">
  <h2>Profile</h2>
  <hr />
  <form [formGroup]="myFormProfile" (submit)="onSaveAddress()">
    <div class="d-flex flex-row justify-content-between">
      <div class="card p-3 col-5">
        <h3 class="text-center">Personal Info</h3>
        <hr />
        <mat-form-field appearance="outline">
          <mat-label>Full Name</mat-label>
          <input
            type="text"
            readonly
            [value]="user"
            matInput
            placeholder="FirtName"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input
            type="email"
            readonly
            matInput
            value="jhonDoe@gmail.com"
            placeholder="mail@gmail.com"
          />
        </mat-form-field>
      </div>

      <div class="card p-3 col-6">
        <h3 class="text-center">Address</h3>
        <hr />
        <mat-form-field appearance="outline">
          <mat-label>Street</mat-label>
          <input
            type="text"
            formControlName="street"
            [readonly]="readOnly"
            matInput
            placeholder="Street"
          />
          <mat-error *ngIf="onFieldValidator('street')">
            is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Direction</mat-label>
          <input
            type="text"
            matInput
            formControlName="direction"
            [readonly]="readOnly"
            placeholder="house number"
          />
          <mat-error *ngIf="onFieldValidator('direction')">
            is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Code Postal</mat-label>
          <input
            type="number"
            formControlName="codePostal"
            matInput
            [readonly]="readOnly"
            placeholder="Postal"
          />
          <mat-error *ngIf="onFieldValidator('codePostal')">
            is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>City</mat-label>
          <input
            type="n"
            formControlName="city"
            matInput
            [readonly]="readOnly"
            placeholder="City"
          />
          <mat-error *ngIf="onFieldValidator('city')"> is required </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Country</mat-label>
          <input
            type="text"
            formControlName="country"
            matInput
            [readonly]="readOnly"
            placeholder="Country"
          />
          <mat-error *ngIf="onFieldValidator('country')">
            is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-3">
      <button
        mat-raised-button
        type="submit"
        color="primary"
        [disabled]="myFormProfile.invalid || disableButton"
      >
        Save
      </button>
    </div>
  </form>
</div>
