<div class="p-3">
  <div class="p-3">
    <h2 class="ml-5">New Contact</h2>
    <hr />
    <form [formGroup]="myFormAccount" (submit)="onSave()">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>FirstName</mat-label>
          <input
            formControlName="firstName"
            type="text"
            matInput
            placeholder="FirtName"
          />
          <mat-error *ngIf="onFieldValidator('firstName')">
            FirstName is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>LastName</mat-label>
          <input
            matInput
            type="text"
            formControlName="lastName"
            placeholder="LastName"
          />
          <mat-error *ngIf="onFieldValidator('lastName')">
            LastName is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Number Account</mat-label>
          <input
            formControlName="number"
            type="text"
            matInput
            placeholder="AB10 751 145 341 145"
          />
          <mat-error *ngIf="onFieldValidator('number')">
            Number Account is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </p>

      <div class="d-flex justify-content-center">
        <button
          mat-raised-button
          (click)="backContacts()"
          style="margin-right: 20px"
          color="accent"
        >
          Cancel
        </button>
        <button mat-raised-button type="submit" color="primary">Save</button>
      </div>
    </form>
  </div>
</div>
