<form [formGroup]="myFormTransaction">
  <div class="p-3">
    <h2>new Contact</h2>
    <div class="p-3">
      <h3>Your Account balance : S/50.00</h3>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>FirstName</mat-label>
          <input 
           type="text"
           matInput 
           placeholder="FirtName" />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>LastName</mat-label>
          <input
           matInput 
          placeholder="LastName" />
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Number Account</mat-label>
          <input type="text" matInput placeholder="AB10 751 145 341 145" />
        </mat-form-field>
      </p>

      <div class="d-flex justify-content-center">
        <button mat-raised-button style="margin-right: 20px" color="accent">
          Cancel
        </button>
        <button mat-raised-button color="primary">Save</button>
      </div>
    </div>
  </div>
</form>
