<div class="m-3 p-3">
  <h2>My Contacts</h2>
  <div class="d-flex justify-content-end mb-3">
    <button type="button" routerLink="/user/new-contact" class="btn btn-primary">
      new Contact
    </button>
  </div>

  <div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">FirstName</th>
          <th scope="col">LastName</th>
          <th scope="col">NumberAccount</th>
          <th scope="col">Acctions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>tatat</td>
          <td>tatat</td>
          <td>tatat</td>
          <td class="cursor-pointer">
            <em class="fas fa-edit text-primary"></em>
            &nbsp;&nbsp;
            <em class="fas fa-trash text-primary"></em>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
