<div class="container-fluid card login-container border fade-in">
  <div class="m-3 p-3">
    <div class="col-md-10">
      <div class="d-flex justify-content-center mb-3">
        <img src="assets/photo/mybank.png" alt="Logo de la aplicación" width="350" height="256">
      </div>
    </div>
    <form [formGroup]="myFormLogin" (submit)="onLoginSave()">
      <div class="row mb-4">
        <div class="col-md-10">
          <div class="form-floating">
            <input
              formControlName="username"
              type="text"
              class="form-control"
              placeholder="username"
            />
            <div *ngIf="onFielValidators('username')">
              <span class="validator">is required</span>
            </div>
            <label>Username</label>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-10">
          <div class="form-floating">
            <input
              formControlName="password"
              type="password"
              class="form-control"
              placeholder="password"
            />
            <div *ngIf="onFielValidators('password')">
              <span class="validator">is required</span>
            </div>
            <label>Password</label>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <button mat-raised-button color="primary" type="submit">
          <em class="fas fa-sign-in-alt">&nbsp;</em>
          Sign in
        </button>

        <div style="margin-left: 30px;">
          Don't have and account?&nbsp;
          <button mat-raised-button routerLink="/signup">Register</button>
        </div>
      </div>
    </form>
  </div>
</div>
