/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.w50{
    width: 50%;
}

.validator{
    color: red;
    margin-bottom: 5px;
}

.border{
    border-radius: 18px;
}

.background{
    background: linear-gradient(to bottom, #ece7ea, #a0b4aa, #afa8b6);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.fade-in {
    animation: fadeInAnimation 1s ease-in-out forwards;
    opacity: 0;
  }
  
  @keyframes fadeInAnimation {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
